.header1 {
  display: flex;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
  font: 80px black;
}

/* nav bar */
.navbar {
  background-color: #ec351e;
  font-family: 'Manrope';
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

/* links inside of the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.option:hover {
  color: black;
}

.description {
  padding: 2%;
  font-size: 20px;
  font-family: 'Manrope';
}

.parallax {
  background-image: url("https://images.pexels.com/photos/161850/venice-grand-canal-water-boats-161850.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  /* Set a specific height */
  min-height: 650px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.map {
  box-shadow: 0px 0px 7px #888888;
  border: 5px solid white;
}

.landmarkImg {
  object-fit: cover;
  height: 650px;
  width: 690px;
  float: right;
  box-shadow: 0px 0px 7px #888888;
  border: 5px solid white;
}

.fade-in-text {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
}