.img1 {
  height: 400px;
  width: 400px;
  object-fit: cover;
  margin: 3%;
  border-radius: 5%;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 3%;
}

.gallery1, .gallery2, .gallery3, .gallery4 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 5%;
}

.image {
  position: relative;
  width: 400px;
  height: 400px;
}

/* positioning overlay and text on top of the image */
.imageOverlay {
  position: absolute;
  border-radius: 5%;
  margin: 3%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: 'Montserrat';
  /* centering text inside of image in the middle and aligned */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0; /* hidden by default */
  transition: opacity 0.25s;
}

.imageOverlay:hover {
  opacity: 1;
}

.title {
  font-size: 2em; /* same as font sizing */
  font-weight: bold;
}

.description {
  font-size: 1em;
}

.fade-in-text {
  animation: fadeIn linear 1.25s;
  -webkit-animation: fadeIn linear 1.25s;
  -moz-animation: fadeIn linear 1.25s;
  -o-animation: fadeIn linear 1.25s;
  -ms-animation: fadeIn linear 1.25s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
}